@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.Navbar {
  margin: auto;
  /* width: 100vw; */
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  color: rgb(205 173 255);
  background-color: ghostwhite;
  margin-bottom: 2px solid grey;

  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}

.Navbar img {
  width: 100px;
}
