@import "../../style/mixins";
@import "../../style/variables";

.HomePage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  //   background-color: $bg-color;
  .Title {
    margin: 0;
    font-size: 40px;
  }
}
