.MainCard {
  display: flex;
  flex-direction: row;
  color: white;
  border: 1px solid white;
  /* border: 2px solid red; */
}

.MiniCard {
  /* border: 2px solid blue; */
  flex: 0 0 auto;
  color: white;
}
.MiniCard img {
  width: 200px;
  height: 90px;
  border: 1px solid white;
}

.MiniCard h3 {
  font-size: 0.9rem;
}

.MainCard--img {
  /* border: 2px solid green; */
  object-fit: cover;
}

.MainCard__text {
  font-size: 3rem;
  color: black;
}

/* .MainCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 400px;
  height: 400px;
  color: white;
  background-color: black;
}

.MiniCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: black;
  color: rgb(206, 12, 12);
}

.MainCard--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.9;
}

.MainCard__text {
  padding: 0 30px;
}

.MainCard__text h3 {
  font-size: 2.8rem;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.MainCard__text p {
  position: relative;
  font-size: 0.9rem;
  font-weight: bold;
  z-index: 1;
}

.MainCard__text p::before {
  content: "Average: ";
  opacity: 0.7;
}

.MainCard button {
  z-index: 99999;
} */
