body {
  margin: 0 50px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  height: 800px;
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;

  border: 2px solid rgba(0, 0, 0, 0.226);
}

/* .card {
  flex-grow: 2;
} */

.card img {
  border-radius: 100px;
  box-shadow: 0, 0, 0, 2;
  cursor: pointer;
  transition: 0.35s;
}

.card img:hover {
  transform: scale(1.2);
}
