* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  text-align: center;
  color: rgb(36 58 90);
}

/* rgb(45 248 187) colore per link */

.main-header {
  background-color: lightgray;
}

.main-header img {
  padding-top: 20px;
}

.main-nav ul {
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.main-nav a {
  color: rgb(36 58 90);
  text-transform: uppercase;
  font-size: 15px;
}
.main-nav ul {
  list-style-type: none;
}

.main-content {
  margin: 10%;
}

.hero img {
  width: 100%;
  box-shadow: 0 0 4px rgb(23, 23, 23);
}

.main-content section {
  display: flex;
}

.main-content .main-text-first,
.main-content .main-text-second {
  margin-top: 40px;
}

.main-footer {
  background-color: lightgray;
  color: rgb(36 58 90);
}
