body {
  font-family: sans-serif;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  gap: 1rem;
}

ul li {
  display: block;
  background-color: #eee;
  padding: 1rem;
}

ol {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

ol li {
  display: inline-block;
}

.pagination button {
  background: rebeccapurple;
  color: white;
}
