$primary-color: #1b2021;
$secondary-color: #30343f;
$third-color: #89023e;
$text-color: #ea638c;

// primary color backgroung
// secondary color background card principalmente
// third color per narbar e footer
