.Navbar {
  display: flex;
  justify-content: center;
  background-color: rgba(174, 0, 107, 0.457);
  height: 30px;
  /* margin-bottom: 30px; */
}

.Navbar a {
  /* text-align: center; */
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  text-decoration: none;
  margin: 10px;
}

.Navbar li {
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  text-decoration: none;
  list-style: none;
}
