.Modal {

  width: 600px;
  height: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  color: rgb(32, 32, 32);
  cursor: pointer;
  z-index: 2;
}

.Modal__overlay {
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

